In [33]:
import pandas as pd
df = pd.read_excel('data.xlsx')
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3980 entries, 0 to 3979
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   景点名称    3980 non-null   object
 1   评分      3980 non-null   int64
 2   评论数     3980 non-null   int64
dtypes: int64(2), object(1)
memory usage: 93.4+ KB

                评分           评论数
count  3980.000000   3980.000000
mean      9.541206     30.114824
std      27.728471    305.982554
min       0.000000      0.000000
25%       0.000000      0.000000
50%       0.000000      0.000000
75%       0.000000      0.000000
max     100.000000  11530.000000

In [35]:
df.drop(df[df["评论数"]<=50].index,axis=0,inplace=True)
df.drop_duplicates(inplace=True)
df.describe()

               评分           评论数
count  115.000000    115.000000
mean    89.182609    615.495652
std      3.865236   1462.989366
min     78.000000     51.000000
25%     88.000000     91.500000
50%     90.000000    181.000000
75%     92.000000    487.500000
max     96.000000  11530.000000

In [36]:
sorted_df = df.sort_values(by='评分', ascending=False)
top_20 = sorted_df.head(20)
print(top_20)

                                                  景点名称  评分   评论数
103                           西南大学Southwest University  96   103
125                            万州大瀑布Wanzhou Greatfalls  96  1893
68                                     瞿塘峡Qutang Gorge  94   188
13                         武隆天生三桥Three Natural Bridges  94  5116
48                                  重庆动物园Chongqing Zoo  94   560
61                            重庆大学Chongqing University  94   158
63          红岩革命纪念馆Hongyan Revolutionary Memorial Hall  94    98
69                                          巫峡Wu Gorge  94   154
20   云阳龙缸国家地质公园Yunyang Longgang National Geological...  94   653
101                    重庆园博园Chongqing Garden Expo Park  94   735
93   西南政法大学Southwest University of Political Scienc...  94    53
239                       神女峰The Goddess (Shennv) Peak  94   104
9                                千厮门大桥Qiansimen Bridge  94   134
148                 菜园坝长江大桥Caiyuanba Changjiang Bridge  94    67
168                             重庆图书馆Chongqing Library  94    59
126                                     碧津公园Bijin Park  92   197
155                                   宝轮寺Baolun Temple  92    97
51   武隆喀斯特旅游区Wulong Tiankeng Land Slot National Geo...  92  1005
56                    歌乐山烈士陵园Geleshan Martyrs Cemetery  92   137
60                                      芙蓉洞Furong Cave  92   659

In [29]:
end_20 = sorted_df.tail(20)
print(end_20)

                                                  景点名称  评分   评论数
75              黄水国家森林公园Huangshui National Forest Park  86    65
162  两江国际影视城（民国街）Liangjiang International Film City...  84   273
31                                皇冠大扶梯Crown Escalator  84   419
87                              朝天门码头Chaotianmen Wharf  84    93
113                                   金刀峡Jindao Canyon  84   404
27                             汉海海洋公园Hanhai Ocean Park  84   198
22                                          十八梯Shibati  84   130
131                                 东温泉Dong Hot Spring  84    51
154     重庆千野草场景区Chongqing Qianye Grassland Scenic Spot  82   102
46                          长江索道Yangtze River Cableway  82  3676
166                         南天湖景区Nantianhu Scenic Area  82    52
79                                 洋人街Foreigner Street  82   596
112                           偏岩古镇Pianyan Ancient Town  82    51
111                 茶山竹海Tea Mountain and Bamboo Forest  82   379
116                       小南海Chongqing Small South Sea  82   150
50                              蚩尤九黎城Chiyou Jiuli City  80    77
100                         长寿古镇Changshou Ancient Town  80   212
77                                      阿依河景区Ayi River  80   225
134                                 大木花谷Damuhua Valley  80    82
29                               安居古城Anju ancient city  78   155

In [31]:
comment_num = df.sort_values(by ='评论数',ascending=False)
top_15=comment_num.head(15)
print(top_15)

                                                  景点名称  评分    评论数
6                            磁器口古镇Ciqikou Ancient Town  88  11530
0                 洪崖洞民俗风貌区Hongyadong Commercial Street  92   7113
13                         武隆天生三桥Three Natural Bridges  94   5116
64                                                  武隆  90   5048
46                          长江索道Yangtze River Cableway  82   3676
2                                     解放碑步行街Jiefangbei  92   3659
125                            万州大瀑布Wanzhou Greatfalls  96   1893
10                               大足石刻Dazu Rock Carving  92   1599
78             黑山谷风景区Black Mountain Valley Scenic Area  90   1555
33                                 龙水峡地缝Longshui Gorge  92   1432
55        仙女山国家森林公园Fairy Mountain National Forest Park  90   1364
7                              朝天门广场Chaotianmen Square  88   1324
51   武隆喀斯特旅游区Wulong Tiankeng Land Slot National Geo...  92   1005
37               南山一棵树观景台Nanshan Tree Viewing Platform  88    810
73                            三峡博物馆Three Gorges Museum  92    785